# Configuration AWS
AWS_REGION=eu-west-3
DYNAMO_TABLE=chatbot-dbtable-local
AWS_PROFILE=default

# Configuration Mistral AI
MISTRAL_API_KEY=your_mistral_api_key_here

# Configuration Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_WEBHOOK_URL=https://your-domain.com
TELEGRAM_WEBHOOK_PATH=/telegram/webhook

# Configuration générale
ENV_NAME=local
