ENV_NAME = "<USERNAME>"

AWS_REGION = votre_region
AWS_ACCESS_KEY_ID = votre_access_key
AWS_SECRET_ACCESS_KEY = votre_secret_access_key
AWS_PROFILE = votre_profil

DYNAMO_TABLE = nom_de_votre_table

MISTRAL_API_KEY = votre_cle_api
TELEGRAM_BOT_TOKEN = votre_token_bot

TELEGRAM_WEBHOOK_URL = url_de_votre_webhook
TELEGRAM_WEBHOOK_PATH = "/telegram/webhook" 
